language: node_js
node_js: stable
sudo: required
addons:
  apt:
    sources:
    - google-chrome
    packages:
    - google-chrome-stable
script:
- npm run test
- if [ "${TRAVIS_PULL_REQUEST}" = "false" ]; then npm run test:sl; fi
env:
  global:
  - secure: IzaqWvVlsXdQH5bgjku2AeprPCzSb4eni2m7JIHXXv9iGmy7oG51xqLZrZ9OLUrP2JXFC2mEwWt3VnlVnmdZ4aBH2fclXQKQ/25XtvqLRNCRMAW7pZl9LqhoYqgiJbWuE6//aS1kipuuzK9YfAA7IOzKkDeaSwitQMV9CIhCIQR3+W+3DIcDMiNk07X4Pn/33GmySYtuitJdPJH+WzEh3wW1bTEqodDCAe7W13tebYoricEIosweXU5aSKopv+BLTBrWhHcUY0dvxqxBQD8yuthBqpqqE2QbZXNntTyqQQBBCtXe2H2XEWmBQTPgSpwKsFh61XDZESFXO//uUq0klMG/sHCIWftuSTdJJXBxFIf2tupnbuvpKaY7Sff0mUbX1NQ40H2TP0og7pt31zI3Pk6w0IL2+X91s7cyRh6Cx2PsyXI6HQuslr6n+5RlsLuHh58r0jvuKPXNa8XkKlxywL2VN4vu67xjmzqXtM0947sx8OtSfC9lrYcr1Ug+XVaPETNxuLZS9oxOm2OdeUBEO8w7OKopaV9Tt8mgQM+yzMparc1Yf0MdcnFgnnQsElNGnAhuM2EXnwaVxaf8hSUxRL5vBmDsEG1fL3HWsSZ/baxtt5s4T6BRbqxR74rdEhG2xCC5uETSfMJLpSBRGKZBv8VL0TZzLUcecn+s0huCMFc=
  - secure: SxhPKnMG9dNOa4/hnDMKs7lPhnB9h5aOAK4HVHHbuiLRtqMbdLgPR9KSNBY2a2n2HYM2/rl1LVzMMEOsx/wTCIDb6pZgwom3P7b4+eHJZkWznurWKoyMcs5iVCFEhFXXB1r7HHiUq97LCcIxB1dW33wyakkrBQ5ls9DJpYK7Xvp+vNnpaX3Ui4kqFVZjMmz5C5p8JDr73w/7OFEddVIWkBH0TvuvjkZJVbgscRFp4LrxsJakXcZzf46rzrZILvflTZdYY3Z8qroLfEcfaJMi5458hwrK/TGNIMd+B8Cprh8Fp8+xn7Qw3GAcK802PBX6dM3FWNVVWgYEP4vd0BDYeuqFKlO9+KmWzhxojq5gxoPV91IPpXiOBdY2//FGwdcobZAo3RytaTxzC9kfaTmevPHDyj8S9B18jbNxxZ8lL7BnD5vNRqsXtCVTwlU7doNRTZn2zzUdvCY8oemvUASmM2BgiZ8br5kan0ODEWtyb42MJsvLQSX5zctnc7sNo7KoAy4PU1qGivAAkGeaETf2PHPfVkXHWIyIwAPsHN7OtUA0SLyhJsCVBJkBZpeESlIoxm3mGHv0IPYZ6APZd935bSDkDUCCZu1CaECssxYka0IY3S3NJFrKmHnVXCbV9ZzQF94BJ7YA2gPDAhJoI3Iqz9lmoetm08OH/FCSZJQDNBw=
